{% extends 'users/_header.html' %}
    {% block main %}    
  {%load static%}
    <!-- END BASIC HEADER -->

    <div class="internal-main-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="main-side">
                        <div class="profile-links">
                          


                            <ul>
                               
                                <li class="active">
                                    <a href="{% url 'account_info' %}"> <i class="icofont-user"></i> Account Dashboard </a>
                                </li>
                                <li>
                                    <a href="{% url 'account_info' %}"> <i class="icofont-info"></i>  Account Information </a>
                                </li>
                                <li>
                                    <a href="{% url 'account_address' %}"> <i class="icofont-paper-plane"></i> Address Book  </a>
                                </li>
                                <li>
                                    <a href="{% url 'account_orders' %}"> <i class="icofont-numbered"></i> My Orders </a>
                                </li>
                             
                               
                                <li>
                                    <a href="{% url 'account_news' %}"> <i class="icofont-envelope-open"></i> Newsletter Subscriptions </a>
                                </li>
                        
                               
                                <li>
                                    <a href="{% url 'account_wishlsit' %}"> <i class="icofont-cart"></i> Cart </a>
                                </li>
                            </ul>
                        </div>

                        
                        
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="profile-content">
                        <form method="POST">
                            {% csrf_token %}
                            


                            <h4> Address </h4>

                            <div class="field required-field"> 

                               <div class="field required-field"> 
                                    <label> Region  </label>
                                    <input type="text" name="region" class="form-control" value={{region}}>
                                </div>
                               
                                <div class="field required-field"> 
                                    <label> Country  </label>
                                    <input type="text" name="country" class="form-control" value={{country}}>
                                </div>

                                <div class="field required-field"> 
                                    <label> City  </label>
                                    <input type="text" name="city" class="form-control" value={{city}}>
                                </div>

                                <label> Street </label>
                                <input type="text" name="street" class="form-control" value={{street}}>
                            </div>

                            

                            <div class="field required-field"> 
                                <label> Apartment  </label>
                                <input type="text" name="apartment" class="form-control" value={{apartment}}>
                            </div>

                            <div class="field required-field"> 
                                <label> PhoneNumber  </label>
                                <input type="text" name="phone" class="form-control" value={{phone}}>
                            </div>


                            

                            <div class="field required-field"> 
                                <label> Postal Code  </label>
                                <input type="text" name="postalcode" class="form-control" value={{postal}}>
                            </div>

                            

                        
                            <input type="submit"  class="btn btn-orange" name="savee" value="Save">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- START BASIC FOOTER  -->
    


     
 
{%endblock%}